<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-title>Exercices</ion-title>
  </ion-toolbar>
  <ion-toolbar [color]="'dark'">
    <ion-searchbar [animated]="true" [clearIcon]="true" [placeholder]="'Rechercher un exercice ...'"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="'full'">
    <ion-item click="onExerciseClicked()" *ngFor="let exercise of exercisesData">
      <ion-label>{{ exercise.name }}</ion-label>
      <ion-icon *ngIf="exercise.isFavorite" name="flame" [color]="'danger'"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
