<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-title>Exercices</ion-title>
  </ion-toolbar>
  <ion-toolbar [color]="'dark'">
    <ion-searchbar [animated]="true" [clearIcon]="true" [placeholder]="'Rechercher un exercice ...'"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="'full'">
    <ion-item (click)="onExerciseClicked()">
      <ion-label>Box jumps</ion-label>
      <ion-icon name="flame" [color]="'danger'"></ion-icon>
    </ion-item>
    <ion-item (click)="onExerciseClicked()">
      <ion-label>JR Normal Jumps</ion-label>
    </ion-item>
    <ion-item (click)="onExerciseClicked()">
      <ion-label>Squats</ion-label>
      <ion-icon name="flame" [color]="'danger'"></ion-icon>
    </ion-item>
    <ion-item (click)="onExerciseClicked()">
      <ion-label>JR Double Unders</ion-label>
      <ion-icon name="flame" [color]="'danger'"></ion-icon>
    </ion-item>
    <ion-item (click)="onExerciseClicked()">
      <ion-label>Jumping jacks</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
