<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Détails des fonctionnalités</ion-card-subtitle>
      <ion-card-title>Page Accueil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Présentation des derniers workouts effectués, des stats de dépenses calorique (feature à venir et en projet).
    </ion-card-content>
  </ion-card>
</ion-content>
