<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides [pager]="true" [options]="{ effect: 'slide' }" style="height: 100%;" #workoutSlides>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Détails des fonctionnalités</ion-card-subtitle>
          <ion-card-title>Page Accueil</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Présentation des derniers workouts effectués, des stats de dépenses calorique (feature à venir et en projet).
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>


    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
